*{box-sizing:border-box;}
body{
	background:url(background.jpg);
	background-size:100%;
	background-position:center;
	background-repeat:no-repeat;
	margin:0px;
	font-family:consolas;
	user-select:none;
}
.logo{
	position:fixed;
	left:calc(50vw - 75px);
	top:calc(20vh - 75px);
	display:flex;
	flex-direction:column;
	text-align:center;
}
.logo span{
	color:#fff;
	font-size:24px;
}
.container{
	background:rgba(0,0,0,0.6);
	display:flex;
}
.title{
	color:#fff;
	width:250px;
	font-size:52px;
	font-weight:bold;
	position:fixed;
	left:calc(50vw - 100px);
	top:15vh;
	text-align:center;
}
.col-1, .col-2{
	width:50vw;
	height:100vh;
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
	font-size:40px;
}
.investor, .business{
	margin-bottom:2px;
	color:#fff;
	text-decoration:none;
	text-align:center;
	border-bottom:2px solid transparent;
}
.investor:hover, .business:hover{
	border-bottom:2px solid crimson;
}

